body {
    background: rgb(42,100,36);
}

.container {
    margin: 20px auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-family: 'Great Vibes', cursive;
}

.black {
    color: black;
}

.red {
    color: red;
}

h3 {
    color: white;
    font-family: 'Great Vibes', cursive;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
}

.input-group>.input-group-prepend {
    flex: 0 0 45%;
}
.input-group .input-group-text {
    width: 100%;
    border-style: none;
}

.input-group .input-group-text .lightup {
    width: 100%;
    border-style: none;
    background-color: #ffc107;
}

#card-div {
    height: 180px;
    text-align: center;
}

#banker-text, #player-text {
    text-align: center;
}

#form-div {
    margin: 20px;
}

#card-display {
    height: 120px;
}

#buttons-div {
    height: 50px;
    margin:20px;
}

#buttons-2 {
    text-align: right;
}

